<nav>
  <a
    href="index.html"
    class="name-container"
    style="display: flex; align-items: center"
  >
    <img
      class="name-icon"
      style="margin-bottom: 5px"
      src="icons/terminal-svgrepo-com.svg"
    />
  </a>
  <!-- web nav -->
  <div class="web-nav">
    <a href="about.html" class="web-nav-item">About</a>
    <a href="software.html" class="web-nav-item">Software</a>
    <a href="links.html" class="web-nav-item">Links</a>
  </div>
  <!-- mobile nav -->
  <img
    id="hamburger"
    class="mobile-nav"
    src="icons/hamburger-button-svgrepo-com.svg"
  />
</nav>