$light-color: #e7f5ff;
$font-stack: 'Trebuchet MS', sans-serif;
$primary-color: #476486;
$secondary-color: #eafd42;
$icon-color: rgb(145, 255, 55);
$text-color: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
  text-shadow: rgb(66, 66, 66) 0.8px 0.8px;
}

section {
  height: 100vh;
}

img {
  margin-top: 100px;
  width: 41vw;
}

a {
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: $secondary-color;
  }
}

i {
  color: $icon-color
}

// sidebar
.sidebar {
  width: 200px;
  height: 500px;
  position: absolute;
  top: 50px;
  right: 0px;
  background: transparent;
  overflow: hidden;

  &-items {
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    background-color: #379194;
    border-radius: 10px;
    box-shadow: rgba(59, 71, 90, 0.568) 5px 5px 5px;
    transform: translate(200px, 0px);
    transition: 0.3s all ease-out;

    &-item {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

// main section
.showcase {
  background-image: linear-gradient($primary-color 50%, $light-color);
  color: $text-color;
  height: 800px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;
    }
    li {
      padding: 15px;
    }
  }

  .mobile-nav {
    display: none;
  }

  .web-nav {
    display: inherit;
  }

  @media screen and (max-width: 500px) {
    .web-nav {
      display: none;
    }
    .mobile-nav {
      display: inherit;
    }
    nav {
      padding: 5px 0px;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    ul {
      padding-left: 30px;
    }

  }
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: auto;
}

.text-container {
  max-width: 350px;
}

// projects

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  text-shadow: none;
  a {
    color: rgb(211, 0, 81);
    font-weight: bold;
  }
  a:hover {
    color: #4264fd;
  }
  
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    line-height: 50px;
    font-size: 1.2rem;
  }
}

// blinking terminal
.blinking-text { 
  position: relative;
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  color: white;
}

.blinking-text::after {
  content: "";
  display: inline-block;
  background-color: $text-color;
  vertical-align: top;
  width: 10px;
  height: 20px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}