body {
	font-family: sans-serif;
	background-image: linear-gradient(to right, #F5DDBD, #B8E7E1);
}
p {
	font-size:25px;
	margin-left:50px;
	margin-right:50px;
}

/* header stuff */

.aref {
	color: #CA4926;
}
.main-header {
	background-image: linear-gradient(to right, #F5DDBD, #B8E7E1);
	padding:10px;
	margin-top:20px;
	margin-left:20px;
	width:343px;
	border-style:double;
	border-width:20px;
	float:left;
}
.h1 {
	color: black;
	font-size:35px;
	padding:10px;
	margin-left:10px;
	float:left;
}

/* hamburger */

#container {
	margin-top:0px;
  	float:left;
  	margin-left:125px;
}
.bar1, .bar2, .bar3 {
  	width: 100px;
  	height: 10px;
 	background-color: #333;
 	margin: 10px 0;
 	transition: 0.4s;
}
#container-content {
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	border-radius: 40px;
	border-style:double;
	border-width:10px;
}

/* main content */

.first-section {
	text-align:center;
	float:left;
	margin-top:0px;
	color: #5A1806;
	font-family: 'Red Rose', cursive;
	border-style:outset;
	border-left-width:0px;
	border-top-width:0px;
	border-radius:40px;
}

