body {
	font-family: sans-serif;
	background-image: linear-gradient(to right, #F5DDBD, #B8E7E1);
	margin-top:0px;
	margin-left:0px;
	padding:0px;
}
p {
	font-size:25px;
	margin-left:50px;
	margin-right:50px;
	width:auto;
    
}

/* header stuff */

.aref {
	color: #CA4926;
}
.main-header {
	background-image: linear-gradient(to right, #F5DDBD, #B8E7E1);
	margin-top:0px;
	margin-left:0px;
	width:auto;
	border-style:double;
	border-width:20px;
	
}
.h1 {
	text-align: center;
    color: black;
	width:auto;
	font-size:35px;
	padding:0px;
	margin-left:10px;
}

/* hamburger */

#container {
  	width:auto;
  	margin-left:250px;
}
.bar1, .bar2, .bar3 {
  	width: 100px;
  	height: 10px;
 	background-color: #333;
 	margin: 10px 0;
 	transition: 0.4s;
}
#container-content {
	margin-left:-40px;
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	border-radius: 40px;
	border-style:double;
	border-width:10px;
}

/* main content */

.first-section {
	text-align:center;
	margin-top:0px;
	margin-left:0px;
	color: #5A1806;
	font-family: 'Red Rose', cursive;
	border-style:outset;
	border-left-width:0px;
	border-top-width:0px;
	border-radius:40px;
}
.firstsection-list {
    list-style-type: none;
    text-align: center;
    margin-left: -30px;
}

.jokes {
}

#but {
    font-size: 50px;
    background-color: red;
}
