body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #071f1a;
	text-shadow: 0.8px 0.8px rgb(184, 184, 184);
	/* background-color: #ffddb0; */
	text-align: center;
	animation-name: backcolor;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

hr {
	width: auto;
	max-width: 400px;
}

a {
	color: #0f4bcd;
	text-decoration: none;
	transition: 0.4s;
}

a:hover {
	color: rgb(154, 11, 11);
}

h1 {
	font-size: 25px;
}

/* landing */
.landing {
	width: 100%;
	height: 100vh;
	background-image: url("/graffitijules.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing-text {
	animation-name: maincontent;
	animation-duration: 4s;
}

.landing h1 {
	color: white;
	text-shadow: 0.8px 0.8px black;
	font-size: 40px;
	padding: 10px;
	margin: 0px;
}

.landing h2 {
	color: white;
	text-shadow: 0.8px 0.8px black;
	margin: 0px;
	font-size: 30px;
}

/* scroll down button inside landing */
.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: white;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    transition-duration: 0.4s;
  }
  .demo a:hover {
    opacity: .5;
  }

#section02 a {
    padding-top: 60px;
    
  }
  #section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 2px solid white;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px rgb(36, 36, 36);
  }
  #section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

/* header stuff */

.main-header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 200; /* useful to keep href working on container content in hamburger */
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: beige;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	animation-name: maincontent;
	animation-duration: 2s;
	box-shadow: 0px 3px 10px 2px rgb(80, 80, 80);
}

/* hamburger */

.container {
  	width:auto;
	margin-left:50px;
	cursor: pointer;
}
.bar1, .bar2, .bar3 {
	border-radius: 100px;
  	width: 50px;
  	height: 5px;
	background-color: #07221c;
	margin: 10px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {
	opacity: 0;
}
  
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

#container-content {
	display: none;
	padding: 0px;
	flex-direction: column;
	position: absolute;
	background-color: thistle;
	width: 100%;
	left: 0;
  	top: 0;
	z-index: 1;
	opacity: .8;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 8%;
}

#container-content hr {
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.menup {
	font-size: 40px;
	width: 100%;
	/* margin: 0; */
	padding: 20px;
	letter-spacing: 10px;
	cursor: pointer;
}

.menup:hover {
	background-color: powderblue;
}

/* main content */

.business-card {
	margin-top: 50px;
	margin-bottom: 50px;
}

.advert {
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	animation-name: advert;
	animation-duration: 3s;
}

.first-section {
	visibility: hidden;
}

.firstsection-list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin:0px;
	padding:0px;
}

.codeli {
	font-size: 12px;
	padding:12px;
	text-shadow: 1px 1px #08221d;
	animation-name: listglow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	letter-spacing: 5px;
}

.second-section {
	visibility: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	align-items: center;
	justify-content: center;
}

.me {
	width:300px;
	max-height: 400px;
	border-radius: 100px;
	box-shadow: 3px 3px 5px 1px rgb(103, 103, 103);
}

.me:hover {
	opacity: 0.8;
	border-radius: 10px;
	transition: 0.5s;
}

.pfirst {
	font-size: 20px;
	padding: 30px;
	max-width: 300px;
}

.projects {
	background-image: url('/oriental.png');
	/* background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover; */
	background-position: center top;
	background-attachment: fixed;
}

.projects-div {
	visibility: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.project-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

iframe {
	border-radius: 10px;
	width: auto;
	height: auto;
	max-width: 400px;
	max-height: 500px;
	min-width: 350px;
	min-height: 450px;
	box-shadow: 3px 3px 5px 1px rgb(103, 103, 103);
}

/* foot */
.footer {
	line-height: 90%;
	padding: 5px;
	font-size: 22px;
	background-color: beige;
	word-wrap: break-word;
	box-shadow: -5px -5px 10px 2px rgb(103, 103, 103);
}

.contact {
	font-size: 40px;
}

.tinytext {
	font-size: 12px;
}

/* slide up */
.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }

.slideUp2 {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
	visibility: visible;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	align-items: center;
	justify-content: center;
  }

.slideUp3 {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
	visibility: visible;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  } 

/* animations */
@keyframes me {
	from {
		opacity: 0;
		margin-left: -1000px;
	}
	to {
		opacity: 1;
		margin-left: 0px;
	}
}

@keyframes maincontent {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes advert {
	0% {color: #092922;}
	50% {color: #ff8400;}
	100% {color:  #092922;}
}

@keyframes backcolor {
	
	0%   { background-color: #ffddb0; }
	50%  { background-color: #8ca7a3; }
	100% { background-color: #ffddb0; }
}

@keyframes listglow {
	0%   { color: rgb(148, 240, 216); }
	50%  { color: rgb(211, 232, 118); }
	100% { color: rgb(148, 240, 216); }
}

@keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes slideUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

/* media query */
@media screen and (max-width: 768px) {
	#container-content {
		margin-top: 20%;
	}
	.project-item {
		padding: 0px;
	}
	.landing-text {
		font-size: 35px;
	}
	.landing {
		background-position: left;
        background-attachment:scroll
	}
	.landing h1 {
		font-size: 40px;
	}
	.landing h2 {
		font-size: 20px;
	}
	.first-section, .second-section, .projects-div {
		visibility: visible;
	}
	.slideUp, .slideUp2, .slideUp3 {
		animation-duration: 0s;
	}
}
@media screen and (height: 1024px) {
	.landing {
		background-position: left;
        background-attachment:scroll
	}
}
@media screen and (height: 768px) {
	.landing {
		background-position: left;
        background-attachment:scroll
	}
}
@media screen and (height: 1366px) {
	.landing {
		background-position: left;
        background-attachment:scroll
	}
}