<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/utils.js" defer></script>
    <title>Julian Ranieri | Software</title>
  </head>
  <body>
    <!-- slide out side bar -->
    {mobileMenu} {nav}
    <div class="centered-container">
      <div class="blog-container">
        <h1>Software</h1>
        <p>
          Here is where I keep desktop software I have produced for download.
        </p>
        <br>
        <div class="blog-list-item">
          <a href="cedit.dmg">C-Edit</a> -
          <small
            >This is a basic text editor application that supports C/C++. This DMG file
            contains a MACOS executable program.</small
          >
          <br>
          <img src="img/cedit_screenshot.png" class="cedit-img" alt="">
        </div>
      </div>
    </div>
  </body>
</html>
