<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/utils.js" defer></script>
    <title>Julian Ranieri | Software</title>
  </head>
  <body>
    <!-- slide out side bar -->
    {mobileMenu} {nav}
    <div class="centered-container">
      <div class="blog-container">
        <h1>Software</h1>
        <p>
          Here is where I keep desktop software I have produced for download.
        </p>
        <br />
        <div class="blog-list-item">
          <a
            href="https://github.com/royalsaltmerchant/tape_sim/raw/main/tape_sim.dmg"
            >Tape Sim</a
          >
          -
          <small>This DMG file contains a MACOS executable program</small>
          <br />
          <p>
            A multi-track audio recorder to simulate a tape machine experience
          </p>
          <img src="img/tapesim_screenshot.png" class="software-img" alt="" />
          <br />
          <a href="https://github.com/royalsaltmerchant/tape_sim"
            >Github Repo</a
          >
        </div>
        <div class="blog-list-item">
          <a
            href="https://github.com/royalsaltmerchant/cedit/raw/master/cedit.dmg"
            >Parch</a
          >
          -
          <small>Link to the landing page</small>
          <br />
          <p>
            Parch is a real-time chat and voice platform built around
            decentralization and simplicity. It allows users to run their own
            servers (hosts), connect through a public relay, and communicate
            securely via self-hosted infrastructure.
          </p>
          <img src="img/parch_icon.webp" class="software-img" alt="" />
          <br />
          <a href="https://github.com/royalsaltmerchant/gochat">Github Repo</a>
        </div>
      </div>
    </div>
  </body>
</html>
